<nav class="post-navigation" role="navigation">
    <div class="previous-post" *ngIf="previousItem">
        <div class="post-navigation-thumbnail" [style.background-image]="previousItem.image ? ('url(' + getResponsiveImageUrl(previousItem.image, 767, 50) + ')') : ''"></div>
        <div class="post-navigation-header">
            <div class="post-navigation-subtitle">Vorige post</div>
            <h1 class="post-navigation-title"><a href="javascript:;" [routerLink]="previousItem.url" [relativeTo]="route.parent" rel="prev">{{previousItem.title}}</a></h1>
        </div>
    </div>
    <div class="next-post" *ngIf="nextItem">
        <div class="post-navigation-thumbnail" [style.background-image]="nextItem.image ? ('url(' + getResponsiveImageUrl(nextItem.image, 767, 50) + ')') : ''"></div>
        <div class="post-navigation-header">
            <div class="post-navigation-subtitle">Volgende post</div>
            <h1 class="post-navigation-title"><a href="javascript:;" [routerLink]="nextItem.url" [relativeTo]="route.parent" rel="next">{{nextItem.title}}</a></h1>
        </div>
    </div>
</nav>
