.site-header {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	padding: 30px;
}

/* Logo ------------------------------*/

.logo-text {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
}

.logo-image {
	display: inline-block;
	width: 400px;
	max-width: 80%;
	height: 80px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 20%;
	text-indent: -1000px;
}

/* Menu toggle -----------------------*/

.site-header .menu-toggle {
	top: 50%;
	margin-top: -10px;
}
