<header class="site-header clear" role="banner">
    <div class="site-logo" *ngIf="settings$ | async as settings">
        <a [class.logo-text]="!settings.logo" [class.logo-image]="settings.logo" [style.background-image]="settings.logo ? ('url(' + settings.logo + ')') : ''" href="javascript:;" [routerLink]="['']">{{settings.name}}</a>
    </div>

    <app-navigation class="site-header-navigation"></app-navigation>

    <div class="menu-toggle" (click)="toggleSidebar()" [class.toggled-on]="isSidebarOpen"><span></span></div>
</header>
