::ng-deep .widget_categories ul ul {
	margin-left: 20px;
}

::ng-deep .widget_categories li {
	margin-bottom: 10px;
}

::ng-deep .widget_categories li:last-child {
	margin-bottom: 0;
}

::ng-deep .widget_categories li ul {
	margin-top: 10px;
}

.widget_categories {
	color: #bcbcbc;
}
