<IfModule mod_headers.c>
  # Apply some more security.
  Header set Strict-Transport-Security: "max-age=31536000; includeSubDomains; preload"
  Header set Content-Security-Policy: "default-src 'none'; script-src analytics.wimme.net 'self' 'unsafe-inline' 'unsafe-eval'; connect-src analytics.wimme.net 'self'; img-src img.skipdewinterdip.be data: 'self'; style-src fonts.googleapis.com 'self' 'unsafe-inline'; object-src 'self'; media-src 'self'; font-src fonts.gstatic.com data: 'self'; frame-src 'self'"

  # Request client hints for image proxy.
  Header set Accept-CH: "Sec-CH-Viewport-Width, Sec-CH-Width, Sec-CH-DPR"
  Header set Permissions-Policy: "ch-viewport-width=(self \"https://img.skipdewinterdip.be\"), ch-width=(self \"https://img.skipdewinterdip.be\"), ch-dpr=(self \"https://img.skipdewinterdip.be\")"
</IfModule>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Set the default handler.
DirectoryIndex index.php index.html

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On
  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A1209600
  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache headers themselves.
    ExpiresActive Off
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Restricting access to directories
  RewriteRule "(^|/)\." - [F]

  # Redirection to HTTPS:
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # Redirection www to non-www:
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

  # Proxy to backend:
  RewriteRule ^system/(.*)$ https://cms.skipdewinterdip.be/system/$1 [P]
  #RewriteRule ^feed/(.*)$ https://cms.skipdewinterdip.be/feed/$1 [P]

  # Prevent mod_dir appending trailing slash to directories (required for Angular Universal prerender)
  DirectorySlash Off
  # Still add a trailing slash to these directories
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteCond %{REQUEST_URI} ^/(feed|sitemap)$
  RewriteRule ^(.*[^/])$ /$1/ [R=301,L]
  # Redirect the URL to remove a trailing slash on directories (required for Angular Universal prerender):
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteCond %{REQUEST_URI} !^/feed/$
  RewriteCond %{REQUEST_URI} !^/sitemap/$
  RewriteRule ^(.*)/$ /$1 [R=301,L]
  # Redirect requests from index.html to their parent folder
  RewriteRule ^index\.html$ / [R=301,L]
  RewriteRule ^(.*)/index\.html$ /$1 [R=301,L] # without trailing slash
  # Since DirectorySlash is disabled,
  # Rewrite the URL to append a trailing slash to directories internally (required for Angular Universal prerender):
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^(.*[^/])$ /$1/ [L,END]

  # Redirection of requests to index.html
  # (Through a php script, we want real 404 http responses for SEO)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteCond %{REQUEST_URI} !=/robots.txt
  RewriteRule ^ rewrite/index.php [L]

  # Rules to correctly serve gzip compressed CSS and JS files.
  # Requires both mod_rewrite and mod_headers to be enabled.
  <IfModule mod_headers.c>
    # Serve brotli compressed files if they exist and the client accepts brotli.
    RewriteCond %{HTTP:Accept-encoding} br
    RewriteCond %{REQUEST_FILENAME}\.br -s
    RewriteRule ^(.*)\.(js|css|svg) $1\.$2\.br [QSA]

    # Serve gzip compressed files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.(js|css) $1\.$2\.gz [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1,E=no-brotli:1]
    RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1,E=no-brotli:1]
    RewriteRule \.css\.br$ - [T=text/css,E=no-gzip:1,E=no-brotli:1]
    RewriteRule \.js\.br$ - [T=text/javascript,E=no-gzip:1,E=no-brotli:1]
    RewriteRule \.svg\.br$ - [T=image/svg+xml,E=no-gzip:1,E=no-brotli:1]

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      # Serve correct encoding type.
      Header set Content-Encoding gzip
      # Force proxies to cache gzipped & non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
    <FilesMatch "(\.js\.br|\.css\.br|\.svg\.br)$">
      # Serve correct encoding type.
      Header set Content-Encoding br
      # Force proxies to cache brotli & non-brotli css/js/svg files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
  </IfModule>
</IfModule>
