<ng-container *ngIf="newsItem">
    <div class="hero">
        <div class="hero-image" [style.background-image]="newsItem.image ? ('url(' + getImageUrl(newsItem.image) + ')') : ''"></div>
        <div class="hero-content">
            <div class="hero-meta">
                <span class="post-category" *ngIf="newsItem.categories">
                    <a href="javascript:;" *ngFor="let category of newsItem.categories" [routerLink]="['/']" [queryParams]="{category: category.id}">{{category.name}}</a>
                </span>
                <span class="post-time" itemprop="datePublished" *ngIf="newsItem.date" [attr.content]="newsItem.date * 1000 | date:'yyyy-MM-ddTHH:mm:ss.sssZ'">{{newsItem.date * 1000 | date:'EEE d MMMM yyyy'}}</span>
            </div>
            <h2 class="hero-title" itemprop="name">{{newsItem.title}}</h2>
        </div>
    </div>
    <div class="news-item hentry clear">
        <div class="news-content" itemprop="articleBody" [innerHtml]="getHtml(newsItem.content, newsItem.content_type)"></div>
    </div>
</ng-container>
<nav class="post-navigation" role="navigation">
    <div class="previous-post" *ngIf="previousItem">
        <div class="post-navigation-thumbnail" [style.background-image]="previousItem.image ? ('url(' + getImageUrl(previousItem.image, 767, 50) + ')') : ''"></div>
        <div class="post-navigation-header">
            <div class="post-navigation-subtitle">Vorige post</div>
            <h1 class="post-navigation-title"><a href="javascript:;" [routerLink]="['/item', previousItem.id]" rel="prev">{{previousItem.title}}</a></h1>
        </div>
    </div>
    <div class="next-post" *ngIf="nextItem">
        <div class="post-navigation-thumbnail" [style.background-image]="nextItem.image ? ('url(' + getImageUrl(nextItem.image, 767, 50) + ')') : ''"></div>
        <div class="post-navigation-header">
            <div class="post-navigation-subtitle">Volgende post</div>
            <h1 class="post-navigation-title"><a href="javascript:;" [routerLink]="['/item', nextItem.id]" rel="next">{{nextItem.title}}</a></h1>
        </div>
    </div>
</nav>
